/*barra de carga*/
#loading-bar {
    width: 0;
    height: 20px;
    background-color: rgb(73, 0, 0);
    border-radius: 20px;
    transition: width 1s ease;
}
#containere {
    width: 70%;
    height: 20px;
    background-color: rgba(240, 248, 255, 0.452);
    border-radius: 20px;
    margin-left: 27vh;
}
.center{
    margin-top: 15vh;
}
.logoI{
    width: 50vh;
    height: 50vh;
}
@media(width: 320px){
    .logoI{
        width: 38vh;
        height: 38vh;
    }
    #containere {
        width: 80%;
        height: 2vh;
        position: relative;
        right: 20vh;
    }
    #loading-bar {
        height: 2vh;
    }
    .center{
        margin-top: 20vh;
    }

}