body{
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.logo img{
    width: 280px;
    height: 280px;
    position: relative;
    left: 40%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.botones{
    background-image: linear-gradient(220deg, #ffe150 0, #ffd250 10%, #ffc252 20%, #ffb053 30%, #ff9d53 40%, #f28953 50%, #e07752 60%, #cf6751 70%, #bf5a51 80%, #b25052 90%, #a74853 100%);
    margin: 55px;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    border: none;

}

.letra{
    
    text-shadow: 1px 1px 1px rgb(244, 244, 244);
    text-align: center;
    margin-top: 4px;
    font-size: 25px;
    font-family: serif;


}

.container{
    position: relative;
    left: 105px;

    
}

.animacion{
    cursor: pointer;
    transition: transform 0.3s;
}

.animacion:hover{
    transform: scale(1.5);
}

/*otro*/

.button-container {
    position: relative;
    height: 20px;
    left: 30px;
}

.hover-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #6200ea;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.hover-button:hover {
    transform: scale(1.2);
}

.tooltip {
    position: absolute;
    bottom: 100%;
    left: 48px;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    pointer-events: none;
}

.button-container:hover .tooltip {
    opacity: 1;
}