body{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.btnJugar{
    width: 250px;
    height: 60px;
    background-image: url(../img/boton.jpg);   
    transition: 600ms;
    position: relative;
    right: 6vh;
}
.btnText{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    padding-top: 7px;
    
}
.btnJugar:hover{
    transform: scale(1.1);
}

/*logo*/
.imgLogo{
    position: relative;
    right: 7%;
    transition: 500ms;
}
.imgLogo:hover{
    transform: scale(1.1);
}

/*sonido*/
#playButton {
    font-size: 20px;
    padding: 10px 20px;
    background-color: rgba(73, 20, 20, 0);
    border: none;
    cursor: pointer;
    transition: 1s;
}
.imgSonido{
    width: 70px;
    height: 70px;
}
#playButton:hover {
    transform: scale(1.1);
}