body{
    background-image: url(../../../img/fondo4.gif);
    background-size: 100% 100%;
    background-attachment:fixed;
    background-repeat: no-repeat;
}
.btnComparar button{
    padding: 10px 30px;
    background-image: url(../../../img/boton.png);
    background-size: cover;
   
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat; 
    background-position: center;
    text-decoration: none; 
    position: relative;
    z-index: 1;
    left: 87vh;
    color: inherit;
    top: 28vh;
    pointer-events: auto;
    color: rgb(255, 255, 255);
    flex-direction: row;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.logo{

    width: 15%;
    position: relative;
    left: 41%;
    top: 10vh;
}

input.input{    
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 15px;
    width: 220px;
    height: 40px;
    transition: 100ms;
    position: relative;
    left: 40%;
    top: 20vh;
}

input.input:focus{
    background-color: rgb(13, 130, 213);

}

input.input:hover {  
    background-color: rgb(13, 130, 213);
    box-shadow: 0px 0px 10px black;
}

/*estilos sala Jugador*/
.sala{
    width: 80%;
    border: 1px solid bisque;
    margin: auto;
    position: relative;
    top: 50px;
}
.container{
    background-color: rgb(255, 255, 255,0.5);
}