body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin: 0;
    background-image: url(../img/sap.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#loading-bar {
    width: 0;
    height: 20px;
    background-color: #611111;
    border-radius: 20px;
    transition: width 1s ease;
}
#containere {
    width: 70%;
    height: 20px;
    background-color: rgba(240, 248, 255, 0.637);
    border-radius: 20px;
}
.center{
    margin-top: 200px;

}