body{
    background-image: url('../img/fondoNumero.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.logo img{
    width: 280px;
    height: 280px;
    position: relative;
    left: 90vh;
}

#playButton {
    font-size: 20px;
    padding: 10px 20px;
    background-color: rgba(73, 20, 20, 0);
    border: none;
    cursor: pointer;
    position: relative;
    left: 10%;
    top: 2%;
}
.imgSonido{
    width: 70px;
    height: 70px;
}
#playButton:hover {
    transform: scale(1.1);
}

/*usuario*/
#usuarioBtn{
    font-size: 20px;
    background-color: rgba(73, 20, 20, 0);
    border: none;
    cursor: pointer;
    position: relative;
    left: 10%;
    top: 2%;
}
.imgUsuario{
    width: 70px;
    height: 70px;
}
#usuarioBtn:hover{
    transform: scale(1.1);
}


/*configuracion*/
#configuracionBtn{
    font-size: 20px;
    padding: 10px 10%;
    background-color: rgba(73, 20, 20, 0);
    border: none;
    cursor: pointer;
    position: relative;
    left: 10%;
    top: 2%;
}
.imgConfiguracion{
    width: 70px;
    height: 70px;
}
#configuracionBtn:hover {
    transform: scale(1.1);
}

.botones{
    background-image: linear-gradient(220deg, #ffe150 0, #ffd250 10%, #ffc252 20%, #ffb053 30%, #ff9d53 40%, #f28953 50%, #e07752 60%, #cf6751 70%, #bf5a51 80%, #b25052 90%, #a74853 100%);
    margin: 90px;
    width: 240px;
    height: 80px;
    border-radius: 10px;
    border: none;

}

.letra{
    text-shadow: 1px 1px 1px rgb(244, 244, 244);
    text-align: center;
    margin-top: 6px;
    font-size: 30px;
    font-family: serif;


}

.container{
    position: relative;
    left: 27px;

    
}

.animacion{
    cursor: pointer;
    transition: transform 0.3s;
}

.animacion:hover{
    transform: scale(1.5);
}

/*otro*/

.button-container {
    position: relative;
    height: 20px;
    left: 30px;
}

.hover-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #6200ea;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.hover-button:hover {
    transform: scale(1.2);
}

.tooltip {
    position: absolute;
    bottom: 100%;
    left: 48px;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    pointer-events: none;
}

.button-container:hover .tooltip {
    opacity: 1;
}
.dificultad{
    position: relative;
    top: 25vh;
    right: 9vh;
}