body{
    background-image: url(../../../../img/view-underwater-sea-life-cartoon-style.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.imgLogo{
    width: 200px;
    height: 200px;
    position: relative;
    left: 27%;
}
.conteinerJuego{
    background-color: rgba(240, 248, 255, 0.527);
    width: 800px;
    height: 600px;
    margin: auto;
    border-radius: 15px;
}
.main-container{
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center !important;
    padding-top: 2vh;
}
.row{
    display: flex;
    gap: 3px;
}
.square{
    background-image: url(../../../../img/input/vacio.png);
    background-repeat: no-repeat;
    background-size: 100% 99%;
    width: 80px;
    height: 80px;
    border: none;
    outline: none;
    font-size: 35px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    -webkit-text-fill-color: rgb(255, 255, 255); /* Will override color (regardless of order) */
    -webkit-text-stroke: 3px rgb(255, 255, 255);
    text-align: center;
}
.result{
    text-align: center;
    font-size: 25px;
}
.button{
    width: 100px;
    height: 40px;
    border-radius: 16px;
    border: none;
    background-color: rgb(31, 122, 31);
    font-size: 20px;
    color: #fff;
    text-decoration: double;
}
.button:hover{
    cursor: pointer;
    background-color: rgb(24, 83, 24);
}

.gold{
    background-image:url(../../../../img/input/oro.png);
    background-repeat: no-repeat;
    background-size: 99% 110%;
}
.green{
    background-image:url(../../../../img/input/esmeralda.png);
    background-repeat: no-repeat;
    background-size: 99% 110%;
}
.no{
    background-color: transparent;
}
