body{
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.btnJugar{
    width: 250px;
    height: 60px;
    background-image: url(img/boton.jpg);   
    transition: 600ms;
}
.btnText{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}
.btnJugar:hover{
    transform: scale(1.1);
}

/*sonido*/
#playButton {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
#playButton:hover {
    background-color: #45a049;
}