/*barra de carga*/
#loading-bar {
    width: 0;
    height: 20px;
    background-color: rgb(233, 126, 11);
    border-radius: 20px;
    transition: width 1s ease;
}
#containere {
    width: 70%;
    height: 20px;
    background-color: rgba(240, 248, 255, 0.452);
    border-radius: 20px;
    margin-left: 27vh;
}
.center{
    margin-top: 15vh;
}
