body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../../img/fondo4.gif);
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
}
.map-container {
    position: relative;
    width: 880px;
    height: 620px;
    margin-top: 5%;
    background-color: #e0c88c; /* Color base estilo pergamino */
    background-image:
        linear-gradient(90deg, rgba(182, 161, 122, 0.479) 25%, transparent 25%, transparent 75%, rgba(221, 195, 147, 0.4) 75%),
        linear-gradient(180deg, rgba(221, 195, 147, 0.4) 25%, transparent 25%, transparent 75%, rgba(221, 195, 147, 0.4) 75%),
        url('ruta/a/una/imagen-textura.jpg'); /* Imagen de textura si tienes alguna */
    background-size: 40px 40px, 40px 40px, cover;
    border: 4px solid #8b5a2b; /* Borde marrón oscuro para simular borde envejecido */
    box-shadow: 6px 6px #7b6c4ea3, 12px 12px #5a4731; /* Sombra estilo pergamino */
    image-rendering: pixelated;
    filter: sepia(20%); /* Tono sepia para darle un efecto de mapa antiguo */
    transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
    animation: swashIn 1s ease-in-out, gameVertical 1s infinite alternate ease-in-out;
}

@keyframes swashIn {
0% {
    opacity: 0;
    transform: rotate(-30deg) scale(0.8);
}
100% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
}
}
.menu-title {
    font-family: 'Pirata One', cursive; 
    text-align: center;
    font-weight: bold;
    z-index: 10;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 5.0rem;
    margin-top: 0%;
    color: #ffcc40; 
    text-shadow: 0px 0px 0px #ffa43d,   
                 5px 5px 0px #8b4513;
    position: relative;
    padding: 0;
    animation: vanishIn 1s ease-in-out;
    letter-spacing: 10px;
}

.menu-title:hover {
    transform: scale(1.1);
}
@keyframes vanishIn {
    0% {
        opacity: 0;
        transform: rotate(-30deg) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg) scale(1);
    }
}
.logo {
    animation: swashIn 1s ease-in-out, gameVertical 2s infinite alternate ease-in-out;
}
@keyframes gameVertical {
    0% { transform: translateY(0); }
    100% { transform: translateY(10px); }
}

.logo-img{
    width: 15%;
    height: 15%;
    top: 10px;
    left: 42%;
    position: relative;
}
.level {
    position: absolute;
    width: 110px;
    height: 110px;
    background-image: url(../../../img/icon/tesoro.png);
    border-radius: 10%;
    display: flex;
    font-family: 'Pirata One', cursive; 
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    z-index: 10;
    transition: transform 0.3s;
}
.nivel1-img {
    width: 35%;
    height: 35%;
}
.level-number {
    font-size: 2.9em;
}

.level-label {
    font-size: 1.0em;
    color: #ffffff;
    margin-top: 0px; 
}

.level:hover {
    transform: scale(1.1);
}

.level:hover {
    transform: scale(1.1);
}
.chest {
    position: absolute;
    width: 10%;
    height: 12%;
    top: 454px; 
    
    left: 83%;
    cursor: pointer;
}
.chest:hover {
    transform: scale(1.1);
}
.chest-img {
    width: 110%;
    height: 100%;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: radial-gradient(circle, rgba(255, 255, 110, 0.699) 0%, rgb(33, 148, 202) 100%);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    width: 80%;
    max-width: 300px;
    font-family: 'Pirata One', cursive; 
}
.modal .btn-close {
    width: 20px;
    height: 20px;
}
.modal-footer .btn-secondary {
    background-color: #ffcc00;; 
    color: #ffffff;
    
    font-family: 'MedievalSharp', cursive; 
    font-size: 18px; 
    padding: 8px 8px; 
    border: 2px solid #deb5115b; 
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    transition: all 0.3s ease; 
}

.modal .btn-close {
    border-radius: 50%;         
    border: 2px solid #555;    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}
.modal .btn-close:hover {
    background-color: #555;
    color: #ffcc00;
    border-color: #ffcc00;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
}

.level-1 { top: 130px; left: 80px; }
.level-2 { top: 130px; left: 410px; }
.level-3 { top: 130px; left: 720px; }
.level-4 { top: 280px; left: 720px; }
.level-5 { top: 280px; left: 410px; } 
.level-6 { top: 280px; left: 80px; }
.level-7 { top: 430px; left: 80px; }
.level-8 { top: 430px; left: 410px; }

.ship {
    position: absolute;
    width: 90px;
    z-index: 13;
    transition: left 2s, top 2s; 
}

.game-section {
    display: none;
    text-align: center;
    margin-top: 20px;
}
.game-section.active {
    display: block;
}
.back-button {
    left: 2%;
    bottom: 90%;
    position: fixed;
}
.back-button:hover {
    transform: scale(0.9);
}
.back-button-img{
    width: 25%;
    height: 25%;
}
.menu {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    z-index: 10;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: radial-gradient(circle, rgb(214, 214, 16) 0%, rgb(16, 137, 250) 100%);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.menu:hover {
    transform: scale(1.1);

}
.soundButton, #musicButton {
    background: none;
    border: none;
    cursor: pointer;
}

.imgSonido {
    width: 40px;
    height: auto;
}

#musicButton p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}
@media (max-width: 768px) {
    .menu-title {
        font-size: 2rem;
        letter-spacing: 0px;
        text-align: center;
        
    }
    .level-number {
        font-size: 0.5em;
    }
    
    .level-label {
        font-size: 0.5em;
        color: #ffffff;
        margin-top: 5px; 
    }
    .map-container {
        width: 330px;
        height: 360px; 
        right: 1%; 
        margin-top: 40%;
    }
    
    .level {
        width: 45px; 
        height: 45px;
        font-size: 1em; 
    }
    .logo {
        top: 30px;
        right: 12%;
        position: relative;
    }
    .logo-img {
        width: 40%; 
        height: auto;
       

    }
    .ship {
        width: 70px;
    }
    .chest {
        top: 50px;
        left:15%;
    }
    .chest-img {
        width: 130%;
        height: 100%;
    }
    .level-1 { top: 50px; left: 150px; }
    .level-2 { top: 50px; left: 250px; }
    .level-3 { top: 140px; left: 250px; }
    .level-4 { top: 140px; left: 150px; }
    .level-5 { top: 140px; left: 50px; } 
    .level-6 { top: 240px; left: 50px; }
    .level-7 { top: 240px; left: 150px; }
    .level-8 { top: 240px; left: 250px; }
}
