/*modal*/
#configuracion{
    background-color: rgba(250, 235, 215, 0) !important;
}

.close{
    position: relative;
    left: 97%; 
}
#cuerpo{
    background-color: rgb(43, 5, 0) !important; 
}
#cuerpo h1{
    text-align: center;
}
    /*sliderModal*/
.slider{
    -webkit-appearance: none; 
    width: 100%;
    height: 15% !important;
    border-radius: 25px;
    background-color: brown !important;
}  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: brown;
    border-radius: 100%;
    cursor: pointer;
}
.slider::-webkit-slider-thumb:hover{
    background: rgb(121, 33, 33);
}
.volumen{
    width: 20px;
    height: 20px;
    margin: auto;
}