body{
    background-image: url(../../img/menu1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

/*sonido*/
#playButton {
    font-size: 20px;
    padding: 10px 20px;
    background-color: rgba(73, 20, 20, 0);
    border: none;
    cursor: pointer;
    position: relative;
    left: 10%;
    top: 2%;
}
.imgSonido{
    width: 70px;
    height: 70px;
}
#playButton:hover {
    transform: scale(1.1);
}

/*usuario*/
#usuarioBtn{
    font-size: 20px;
    background-color: rgba(73, 20, 20, 0);
    border: none;
    cursor: pointer;
    position: relative;
    left: 10%;
    top: 2%;
}
.imgUsuario{
    width: 70px;
    height: 70px;
}
#usuarioBtn:hover{
    transform: scale(1.1);
}


/*configuracion*/
#configuracionBtn{
    font-size: 20px;
    padding: 10px 10%;
    background-color: rgba(73, 20, 20, 0);
    border: none;
    cursor: pointer;
    position: relative;
    left: 10%;
    top: 2%;
}
.imgConfiguracion{
    width: 70px;
    height: 70px;
}
#configuracionBtn:hover {
    transform: scale(1.1);
}

/*modal*/
#configuracion{
    background-color: rgba(250, 235, 215, 0) !important;
}

.close{
    position: relative;
    left: 97%; 
}
#cuerpo{
    background-color: rgba(240, 248, 255, 0.379) !important;
}
#cuerpo h1{
    text-align: center;
}
    /*sliderModal*/
.slider{
    -webkit-appearance: none; 
    width: 100%;
    height: 15% !important;
    border-radius: 25px;
    background-color: brown !important;
}  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: brown;
    border-radius: 100%;
    cursor: pointer;
}
.slider::-webkit-slider-thumb:hover{
    background: rgb(121, 33, 33);
}
.volumen{
    width: 20px;
    height: 20px;
    margin: auto;
}


/* Estilo de los botones personalizados */
.btn-custom {
    width: 250px;
    height: 250px;
    border: none;
    overflow: hidden;
    transition: transform 0.4s ease;
    margin: 30px; /* Espaciado entre los botones */
}

/* Estilo de los logos de los juegos */
.game-logo {
    width: 100%;
    height: 100%;
    border: none;   
}

/* Animación al pasar el mouse */
.game-button:hover {
    transform: scale(1.2);
    border: none;
}

@media (min-width = 1000px){

    body{

        background-size: 100% auto;
    }
}

@media (max-width = 600px){

    body{

        background-size: contain;
        background-position: top;
    }
}
