body {
    margin: 0;
    padding: 0;
    background: url('../img/fondo4.gif  ') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pirata One', cursive; 
    height: 100vh;
}
.container {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.porthole {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: url('../img/logo/aqua-Memorize.png') no-repeat center center;
    background-size: contain;
    border: 15px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.7), inset 0 0 50px rgba(0, 255, 255, 0.3);
    animation: float 3s ease-in-out infinite;
}
@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}


.content {
    margin-left: 10%;
    color: rgb(0, 0, 0);
    
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

h1 {
    font-size: 4.5em;
    text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc, 0 0 30px #00ffcc;
    letter-spacing: 2px; /* Espaciado entre letras para alargar el texto */
    white-space: nowrap; /* Evita que el texto se baje a una nueva línea */
    display: inline-block; /* Asegura que el texto ocupe solo el espacio necesario */
    margin-bottom: 0px;
}
#escritura::after {
    content: "|";
    animation: blink 0.5s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

p {
    max-width: 300px;
    font-size: 1.6em;
}
button {
    background: linear-gradient(45deg, #00ffcc, #3284f0);
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px #00ffcc, 0 0 20px #3284f0;
    transition: transform 0.2s, box-shadow 0.3s;
}
button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #00ffcc, 0 0 40px #3284f0;
}

@media (max-width: 768px) {
    /* Contenedor principal */
    .container {
        flex-direction: column;
        width: 90%;
        padding: 0px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }

    /* Ajuste de tamaño y márgenes para el logo */
    .porthole {
        width: 120px;
        height: 120px;
        margin: 0 auto 20px;
        margin-top: 20%;
        border: 15px solid #c0c0c000;
    }

    /* Ajustes de texto */
    .content h1 {
        font-size: 2em;
        bottom: 30%;
        text-align: center;
    }

    .content  {
        font-size: 1.0em;
        max-width: 100%;
        text-align: center;
        margin-left: 4px;
        margin: 10px 0;
    }

    /* Botón de acción */
    button {
        font-size: 1.5em;
        padding: 10px 15px;
        width: 80%;
        margin-bottom: 20%;
        left: 33px;
        
    }
    /* Aumento de espaciado general */
    .content, .container {
        margin: 15px 0;
    }
}
