body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('../img/fondo4.gif') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: puffIn 1s ease-in-out
}
@keyframes puffIn {
    0% {
        opacity: 0;
        transform: scale(2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.container {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
}
.creature {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.fish {
    width: 70px;
    height: 50px;
    background-image: url('img/1.png');
    animation: swimHorizontal 15s linear infinite;
    top: 20%; 
    left: -100px; 
}

.turtle {
    width: 80px;
    height: 60px;
    background-image: url('img/7.png');
    animation: swimHorizontal 20s linear infinite;
    top: 60%; 
    left: -100px;
}


.jellyfish {
    width: 80px;
    height: 80px;
    background-image: url('img/6.png');
    animation: floatVertical 8s ease-in-out infinite;
    top: 40%; 
    left: 20%;
}

.seahorse {
    width: 80px;
    height: 80px;
    background-image: url('img/4.png');
    animation: floatVertical 10s ease-in-out infinite;
    top: 70%;
    left: 80%;
}
.payaso {
    width: 100px;
    height: 100px;
    background-image: url('img/c6b2ee4acc1c3cc273a1d616ec712b89-Photoroom.png') ;
    bottom: 70px;
    left: 110px;
    animation: floatVertical 8s ease-in-out infinite;
}
.pulpo{
    width: 100px;
    height: 100px;
    background-image: url('img/pngtree-cute-cartoon-sea-animal-jellyfish-character-png-image_13000376-Photoroom.png') ;
    bottom: 70px;
    left: 110px;
    animation: floatVertical 8s ease-in-out infinite; 
}
.lango{
    width: 100px;
    height: 100px;
    background-image: url('img/1726608de2d2d50d116cfc2bd00e5908-Photoroom.png') ;
    bottom: 70px;
    left: 110px;
    animation: floatVertical 8s ease-in-out infinite; 
}

.starfish {
    width: 100px;
    height: 100px;
    background-image: url('img/3.png');
    bottom: 20px;
    left: 910px;
    animation: floatVertical 8s ease-in-out infinite;
}

/* Animaciones */
@keyframes swimHorizontal {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(120vw);
    }
}

@keyframes floatVertical {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px); 
    }
}
.porthole {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: url('../img/logo/aqua-Memorize.png') no-repeat center center;
    background-size: contain; 
    border: 20px solid #c0c0c000;
    box-shadow: 0 0 20px rgba(0,0,0,0.5), inset 0 0 50px rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.content {
    margin-left: 10%;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

h1 {
    font-size: 4.5em;
    margin-bottom: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    max-width: 300px;
    font-size: 1.5em;
}

button {
    background-color: #0a607a;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin-top: 20px;
    margin-left: 0%;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3284f0;
}

.creature {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.fish {
    width: 70px;
    height: 50px;
    background-image: url('img/1.png');
    animation: swim 15s linear infinite;
}

.jellyfish {
    width: 80px;
    height: 80px;
    background-image: url('img/6.png');
    animation: float 8s ease-in-out infinite;
}

.starfish {
    width: 80px;
    height: 80px;
    background-image: url('img/3.png');
    bottom: 20px;
    left: 30px;
}

.seahorse {
    width: 80px;
    height: 80px;
    background-image: url('img/4.png');
    bottom: 40px;
    right: 20px;
    animation: sway 5s ease-in-out infinite;
}

.turtle {
    width: 60px;
    height: 40px;
    background-image: url('img/7.png');
    animation: swim 25s linear infinite;
}

.coral {
    width: 10%;
    height: 10px;
    background-image: url('img/cora.png');
    position: relative;
    bottom: 0;
    background-repeat: no-repeat;
}

.bubbles {
    width: 100%;
    height: 100%;
    background-image: url('img/BIURBU.png');
    position: absolute;
    pointer-events: none;
}

.bubbles::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    
    border-radius: 50%;
    animation: rise 10s infinite;
}

@keyframes swim {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(400%); }
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

@keyframes sway {
    0%, 100% { transform: rotate(0deg); }
    50% { transform: rotate(5deg); }
}

@keyframes rise {
    0% {
        bottom: -10px;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        bottom: 100%;
        opacity: 0;
    }
}
@media (max-width: 768px) {
    /* Contenedor principal */
    .container {
        flex-direction: column;
        width: 90%;
        padding: 0px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }

    /* Ajuste de tamaño y márgenes para el logo */
    .porthole {
        width: 150px;
        height: 150px;
        margin: 0 auto 20px;
        margin-top: 8%;
        border: 15px solid #c0c0c000;
    }

    /* Ajustes de texto */
    .content h1 {
        font-size: 2em;
        bottom: 30%;
        text-align: center;
    }

    .content  {
        font-size: 1.0em;
        max-width: 100%;
        text-align: center;
        margin-left: 4px;
        margin: 10px 0;
    }

    /* Botón de acción */
    button {
        font-size: 1.5em;
        padding: 10px 15px;
        width: 80%;
        left: 33px;
        
    }

    /* Ajuste de tamaño de criaturas */
    .fish, .jellyfish, .seahorse, .turtle, .starfish, .payaso, .pulpo, .lango {
        width: 60px;
        height: 60px;
        animation-duration: 12s; /* Aumenta la velocidad de las animaciones */
    }

    /* Ajuste de posiciones de criaturas */
    .fish, .turtle {
        left: -60px; /* Ajustar la posición inicial */
    }

    .seahorse, .jellyfish {
        right: 15px; /* Ajustar la posición final */
    }

    /* Ajuste de animación de burbujas */
    .bubbles::before {
        width: 10px;
        height: 10px;
    }

    /* Aumento de espaciado general */
    .content, .container {
        margin: 15px 0;
    }
}
