body{
    background-image: url(../../../../img/fondo4.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}
.modal-content {
    padding: 20px;
    font-family: 'Pirata One', cursive; 
    font-size: 22px;
    text-shadow: 3px 3px 0px #ffffff00,   
    6px 6px 0px #8b451300; 
    border-radius: 30px; 
    background: radial-gradient(circle, rgba(255, 255, 110, 0.699) 0%, rgb(33, 148, 202) 100%) !important;
    box-shadow: 0 0 15px rgb(255, 166, 0),
    inset 0 0 10px rgb(44, 166, 227); 
    background-repeat: no-repeat; 
    background-position: center;

}
.modal-footer {
    border: none !important;
}
.btnLogin{
    width: 200px;
    height: 40px;
    background-color: rgb(211, 153, 46) !important;  
    transition: 600ms;
    margin-bottom: 3%;
}
#response{
    color: #000000;
    font-size: 1.0em; 
    
}
.btnLogin:hover{
    transform: scale(0.9);
}
.hibtn{
    background: radial-gradient(circle, rgba(255, 255, 110, 0.699) 0%, rgb(33, 148, 202) 100%) !important;
}
.hibtn:hover{
    background: radial-gradient(circle, rgba(255, 255, 212, 0.699) 0%, rgb(33, 148, 202) 100%) !important;
}
.bodyModal{
    padding: 20px;
    font-family: 'Pirata One', cursive; 
    font-size: 22px;
    text-shadow: 3px 3px 0px #ffffff00,   
    6px 6px 0px #8b451300; 
    border-radius: 30px; 
    background: radial-gradient(circle, rgba(255, 255, 110, 0.699) 0%, rgb(33, 148, 202) 100%) !important;
    box-shadow: 0 0 15px rgb(255, 166, 0) !important ;
    inset: 0 0 10px rgb(44, 166, 227) !important; 
    background-repeat: no-repeat; 
    background-position: center;
}
/*botones*/
.btnLogin{
    width: 200px;
    height: 40px;
    background-color: rgb(211, 153, 46) !important;  
    transition: 600ms;
    margin-bottom: 3%;
}
.btnLogin:hover{
    transform: scale(0.9);
}
/*Formulario*/
#formulario{
    width: 40%;
    height: auto;
    text-shadow: 3px 3px 0px #ffffff07,   
                 6px 6px 0px #8b451300;  
    position: relative;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px; 
    background: radial-gradient(circle, rgb(214, 214, 16) 0%, rgb(16, 137, 250) 100%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    bottom: 0vh;
}
#formulario::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #ff0000);
    border-radius: 15px;
    filter: blur(5px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.logoForm{
    margin: auto;
}
.logoForm img{
    width: 175px;
    height: 175px;
    margin-bottom: 2%;
    transition: 200ms;
    animation: moveLogoVertical 2s infinite alternate ease-in-out;
}
@keyframes moveLogoVertical {
    0% { transform: translateY(0); }
    100% { transform: translateY(10px); }
}
.logoForm img:hover{
    transform: scale(1.1);
}

/*iconoInput*/
.inputIcon{
    max-width: 420px;
    position: relative;
    margin: auto;
}

#icon{
    position: absolute;
    display: block;
    bottom: .5rem;
    right: 1rem;
    
    user-select: none;
    cursor: pointer;
}
#icon img{
    width: 15px;
    height: 15px;
}
input.input{    
    padding-right: 2.5rem;
    background-color: rgba(255, 255, 255, 0.427);
    border: 1px solid#F28F16;
    transition: 100ms;
  }
  input.input:focus{
      background-color: rgba(255, 255, 255, 0.77);
      border: 1px solid black;
      box-shadow: 0px 0px 5px#F28F16;
  }
  input.input:hover {  
      background-color: rgba(255, 255, 255, 0.692);
      
  }
  .text{
      color: #ffffff;
      text-align: center;
      font-size: 25px;
      font-family: 'Pirata One', cursive; 
  }
  text:hover{
      transform: scale(1.1);
      
  }
  .text2{
    color:#014d7d; 
    text-align: center;
    font-family: 'Pirata One', cursive; 
    font-size: 40px;
}
.text2:hover{
    color: rgb(54, 32, 225)
}
/*sonido*/
#playButton {
    font-size: 20px;
    padding: 10px 20px;
    background-color: rgba(73, 20, 20, 0);
    border: none;
    cursor: pointer;
    position: relative;
    top: 2%;
    z-index: 10;
    transition: 100ms;
}
.imgSonido{
    width: 70px;
    height: 70px;
}
#playButton:hover {
    transform: scale(1.1);
}

/*iconosRedes*/
.logoRedes{
    margin: auto;
}
.logoRedes img{
    width: 25%;
    height: 25%;
    transition: 200ms;
}
.logoRedes img:hover{
    transform: scale(1.2);
}
.facebook{
    position: relative;
    left: 75%;
}
.gitHub{
    position: relative;
    left: 40%;
}

/*texto*/
.textCrear{
    font-size: 1.8em;
    
    color:#ffffff;
    font-family: 'Pirata One', cursive; 
    text-align: center;
}
.textCrear a{
    color: #ffae00; 
    font-size: 22px;
    font-family: 'Pirata One', cursive; 
}
.textCrear a:hover{
    color: rgb(167, 225, 32) !important;
}

.textOlvide{
    font-size: medium;
    color: #F28F16;
    font-family: 'Pirata One', cursive; 
    text-align: center;
    
}
.textOlvide a{
    color:#ffffff; 
    font-size: 1.3em;
    
    
}
.textOlvide a:hover{
    color: rgb(167, 225, 32) !important;
}


/*quitar link*/
a:link, a:visited, a:active {
    text-decoration:none;
}
/* Para dispositivos móviles */
@media (max-width: 768px) {
    #formulario {
        width: 90%;
        padding: 20px;
        margin: 0 auto; 
        margin-right: 7%;
    }
    .btnLogin {
        width: 100%;
    }
    .logoForm img {
        width: 120px;
        height: 120px;
    }#playButton {
        font-size: 20px;
        padding: 10px 20px;
        background-color: rgba(73, 20, 20, 0);
        border: none;
        cursor: pointer;
        position: relative;
        top: 0%;
        right: 2%;;
        z-index: 10;
        transition: 100ms;
    }
    .logoRedes img{
        width: 15%;
        height: 15%;
        transition: 200ms;
    }
    .facebook{
        position: relative;
        left: 80%;
    }
    .gitHub{
        position: relative;
        left: 45%;
        bottom: 40px;
    }
    .email{
        position: relative;
        left: 10%;
        bottom: 75px;
    }
}
/* Estilos para pantallas de computadora */
@media (min-width: 769px) {
    /* Ajuste del formulario */
    #formulario {
        width: 40%;
        padding: 20px;       
        margin: 0% auto;
        box-shadow: 0px 0px 40px rgb(0, 0, 0, 0.3);
    }

    /* Botón de inicio de sesión */
    .btnLogin {
        width: 200px;
        height: 40px;
        font-size: 18px;
        margin-bottom: 2%;
    }

    #playButton {
        font-size: 20px;
        padding: 10px 20px;
        position: relative;
        bottom: 0px;
        left: 0%;
        transition: 200ms;
    }

    /* Tamaños de texto */
    .textCrear, .textOlvide {
        font-size: 1.2em;
    }
}

