body{
    background-image: url(../../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*botones*/
.btnLogin{
    width: 200px;
    height: 40px;
    background-image: url(../../img/boton.jpg);   
    transition: 600ms;
    margin-bottom: 3%;
    position: relative;
    left: 23.5%;
}
.btnLogin:hover{
    transform: scale(1.1);
}

/*sonido*/
#playButton {
    font-size: 20px;
    padding: 10px 20px;
    background-color: rgba(73, 20, 20, 0);
    border: none;
    cursor: pointer;
    transition: 1s;
}
.imgSonido{
    width: 60px;
    height: 60px;
}
#playButton:hover {
    transform: scale(1.1);
}

/*Formulario*/
#formulario{
    width: 30%;
    height: auto;
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.337);
}

/*iconoInput*/
.inputIcon{
    max-width: 420px;
    position: relative;
    margin: auto;
}

#icon{
    position: absolute;
    display: block;
    bottom: .5rem;
    right: 1rem;
    
    user-select: none;
    cursor: pointer;
}
#icon img{
    width: 15px;
    height: 15px;
}
input.input{    
  padding-right: 2.5rem;
}